body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #111;
  color: #fff;
}

header {
  background: #1DB954;
  padding: 15px;
}

audio {
  margin-top: 30px;
  width: 90%;
}

button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background: #1DB954;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #17a74a;
}
